<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    cacheDirectory=".phpunit.cache"
    executionOrder="depends,defects"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutOutputDuringTests="true"
    failOnRisky="true"
    failOnWarning="true"
>
    <testsuites>
        <testsuite name="AegisPHP">
            <directory>packages/*/tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>packages/*/src</directory>
        </include>
        <exclude>
            <directory>packages/*/tests</directory>
            <directory>packages/*/vendor</directory>
        </exclude>
    </source>

    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <env name="APP_ENV" value="test"/>
    </php>
</phpunit>
